*text.pdf
*text.djvu
/CSC385/module1/lab1/lab1/nbproject/private/
/CSC385/module1/lab1/build/
/CSC385/sandbox/sandbox/nbproject/private/
/CSC385/sandbox/sandbox/build/
/CSC385/module2/DirectoryLister/DirectoryLister/nbproject/private/
/CSC385/module2/DirectoryLister/DirectoryLister/build/
/CSC385/module2/DirectoryLister/build/
/CSC385/module2/DirectoryLister/nbproject/private/
/CSC385/module2/DirectoryLister/dist/
/CSC385/module3/MyBinarySearch/nbproject/private/
/CSC385/module3/MyBinarySearch/build/
/CSC385/module3/CommonElements/nbproject/private/
/CSC385/module3/CommonElements/build/
/CSC385/module3/CommonElements/dist/
/CSC385/semesterProject/AntColonySimulation/nbproject/private/
/CSC385/semesterProject/AntColonySimulation/build/
/CSC385/semesterProject/AntColonySimulation/dist/
/CSC385/csc385DataStructures/nbproject/private/
/CSC385/csc385DataStructures/build/